  <p> Flight Date: <%= display_date(@flight.date) %> </p>
  <p> Flight Departure Airport: <%= @flight.departure_airport.name %> </p>
  <p> Flight Arrival Airport: <%= @flight.arrival_airport.name %> </p>
  <p> Flight Duration: <%= @flight.duration %> </p>